* {
    padding: 0;
    margin: 0;
    width: 100%;
}
.boton-home {
    padding: .8em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 1em;
    width: auto;
    border: none;
}
.boton-home:hover {
    transform: scale(1.1 ,1.1);
    color: #fff;
    transition: .6s;
}
.titulo-principal {
    font-family: 'Roboto', sans-serif;
}

.texto {
    font-family: 'Roboto', sans-serif;
}
.img-home {
    border-radius: 1em;
}
.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 2.5em;
}
.logo:hover {
    transform: scale(1.1, 1.1);
}
.nombre {
    color: grey;
    text-decoration: underline 1px;
}
.texto-sobre-mi {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 2em;
}
.sub-titulo {
    font-family: 'Roboto', sans-serif;
}

.fondo-servicios-modeling {
    background-image: url(imagenes/pexels-cottonbro-4069292.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin: 10px;
}
.titulo-servicios {
    color: #fff;
    visibility: hidden;
    text-decoration: none;
}

.fondo-servicios-modeling:hover .titulo-servicios{
    visibility: visible;
    transition: .6s;
}
.leyenda-servicios {
    text-decoration: none;
}

.fondo-servicios-rendering {
    background-image: url(imagenes/rendering.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin: 10px;
}

.fondo-servicios-rendering:hover .titulo-servicios {
    visibility: visible;
}
.galeria {
    margin: .7em;
}
.galeria:hover {
    transform: scale(1.05,1.05);
    transition: .5s;
}
.boton-contacto {
    background-color: #000;
    color: #fff;
    border: none;
    padding: .6em;
    border-radius: 7px;
}
.boton-contacto:hover {
    transform: scale(1.1,1.1);
    transition: .6s;
}
.texto-normal {
    font-family: 'Montserrat', sans-serif;
}
.color-fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(imagenes/pexels-expect-best-323772.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
@media screen and (max-width: 768px) { /*Hago esta media query para acomodar el footer y las tarjetas de titulos y certificaciones. Tambien le doy un poco de padding a las imagenes de la galeria para que no queden juntas*/
    .titulo-barra-navegacion {
        text-align: center;
    }
    .img-home-responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .titulos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .img-sobremi-responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .galeria {
        padding: 10px;
    }
    .form-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titulo-servicios {
        visibility: visible;
        padding-top: 1em;
    }
}